# cualificar nuestras dependencias
--index-url https://pypi.python.org/simple/

# listar nuestras dependencias (y versiones)
Flask==0.11.1
Flask-SQLAlchemy==2.1

# entrar en develop mode, para esto necesitamos setup.py
-e .
